body
{
    background-color: rgb(134, 134, 134);
    color: rgb(70, 70, 70);
    font-variant: small-caps;
    font-size: 90%;
    padding: 20px;
    margin: 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

/* For the HTML5 canvas we'll render into.*/
#wray-render-target
{
    background-color: transparent;
    border-radius: 5px 5px 0 0;
    margin: 0px;
    position: relative;
    z-index: 3;

    /* Pixelated upscale.*/
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-crisp-edges;

    /* Will be unhidden when rendering begins.*/
    display: none;
}

#wray-status-container
{
    background-color: white;
    color: black;
    border-radius: 0 0 5px 5px;
    display: inline-block;
    padding: 14px 0;
    position: relative;
    z-index: 1;
    margin: 0;
    margin-top: -4px;
    box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.45);
    border-top: 1px solid black;

    /* Will be unhidden when rendering begins.*/
    display: none;
}

#wray-controls
{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#wray-controls .wray-controls-button
{
    display: flex;
    align-items: center;
}

#wray-controls .wray-controls-button + .wray-controls-button
{
    margin-left: 20px;
}

#wray-controls .wray-controls-button > i
{
    padding: 14px;
}

#wray-controls .wray-controls-button > i:hover
{
    color: black;
    cursor: pointer;
}

#wray-init-notice
{
    color: white;
    font-size: 150%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-family: sans-serif;
}

/* Spinners adapted from https://www.w3schools.com/howto/howto_css_loader.asp.*/
#wray-init-spinner /* Spins to indicate that Wray is initializing.*/
{
    border: 5px solid transparent;
    border-right: 20px solid black;
    border-left: 20px solid black;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    animation: spin 2s linear infinite;
    display: inline-block;
    margin-bottom: 0;
}

@keyframes spin
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

@media only screen and (max-width: 1280px)
{
    body
    {
        padding: 0;
        margin: 0;
    }

    #wray-render-target
    {
        border-radius: 0;
    }

    #wray-status-container
    {
        background-color: #e47979;
        color: black;
        border-radius: 0;
    }
}
